#board
{
    border: 5px solid rgb(0, 0, 0);
    background-color: gray;
    padding: 18px 18px 0px 0px;
}

td, tr, table
{
    margin: 0px;
    padding: 0px
}

.black
{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}
.white
{
    background-color: rgb(255, 255, 255);
}

.side_row
{
    text-align: center;
    height: 19px;
}
.side_column
{
    text-align: center;
    width: 19px;
}